.bold{
	font-weight: bold;
}

.myButton {
	background-color:#fe1a00;
	border-radius:20px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.showMore{
	position: relative;
}

.portfolio {
  background-color: #f3e2d8;
  padding: 3em 1em;
  margin-top: 0em;
  margin-bottom: 3em;
  text-align: center;
}

.border_all{
	box-shadow: 3px 3px 15px #666;
	border-color:#C76C0C;
	background: #EC4146;
	color: #fff;
	cursor: pointer;
	width: 30%;
	/*Opacity*/
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	margin: 1%;
}

.expand{
	transform: scale(1.3);
	cursor: pointer;
	margin-right: 10px;
}

#Rpi{
	margin-left: 2.4%;
}

#Java{
	margin-left: -6%;
	margin-top: -1%;
}

#Javascript{
	margin-left: -1%;
}

.portfolio{
	background-image: url("../img/singaporeSkyline.jpg");
	background-size: 1500px 400px;
	height: 400px;
}

.btn-selector{
	padding: 130px 60px;
}

button{
	background: none;
}

button > span {
  	padding: 15px 30px;
  	background: none;
  	border:1px solid rgb(255,255,255);
  	border-radius: 2px;
  	color: white;
	font-family:Arial;
	font-size:25px;
    box-shadow: 2px 2px 10px #888888;
}
