<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio - Johan</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css-portfolio/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css-portfolio/4-col-portfolio.css" rel="stylesheet">
    <link href="../static/css-portfolio/cssAddOns.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css-portfolio/icono.min.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js-portfolio/jQery-addOns.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form id="route_to_home" action="/index" method="post">
                <ul class="nav navbar-nav">
                    <li id="Home" onclick="route_to_home.submit()">
                        <a href="#">Home</a>
                    </li>
                </ul>
            </form>
                <ul class="nav navbar-nav">
                    <li id = "Portfolio-link">
                        <a href="#">Portfolio</a>
                    </li>
                    <li id = "Experience-link">
                        <a href="#">Experience</a>
                    </li>
                    <li id = "Achievements-link">
                        <a href="#">Awards</a>
                    </li>
                    <li id = "Education-link">
                        <a href="#">Education</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" id = "Portfolio">
                <h1 class="page-header">My projects</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row projects">
            <div class="col-md-3 portfolio-item">
                <a href="portfolio/AutoLab">
                    <img class="img-responsive main-img" src="../static/img/autoLab.JPG" alt="">
                    <img class="img-responsive addPlus hide" src="../static/img/icon-plus.png" alt="">
                    <h3 class="hide">Auto Lab</h3>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="portfolio/lumiere">
                    <img class="img-responsive main-img" src="../static/img/lumiere.png" alt="">
                    <img class="img-responsive addPlus hide" src="../static/img/icon-plus.png" alt="">
                    <h3 class="hide">Lumiere</h3>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="portfolio/BARC">
                    <img class="img-responsive main-img" src="../static/img/BARC.jpg" alt="">
                    <img class="img-responsive addPlus hide" src="../static/img/icon-plus.png" alt="">
                    <h3 class="hide">BARC</h3>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/gimbal.jpg" alt="">
                    <img class="img-responsive addPlus hide" src="../static/img/icon-plus.png" alt="">
                    <h3 class="hide">2-axis gimbal</h3>      
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row projects">
            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/HPV-main.jpg" alt="">
                    <img class="img-responsive addPlus hide" src="../static/img/icon-plus.png" alt="">
                    <h3 class="hide">Berkeley HPV</h3>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/molecular-dynamics.png" alt="">
                    <img class="img-responsive addPlus hide" src="../static/img/icon-plus.png" alt="">
                    <h3 class="hide">Molecular dynamics</h3>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/gaussianProcess.png" alt="" id="gaussianProcess">
                    <img class="img-responsive addPlus hide" src="../static/img/icon-plus.png" alt="">
                    <h3 class="hide">Predictive traffic model</h3>
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/FEM-main.png" alt="">
                    <img class="img-responsive addPlus hide" src="../static/img/icon-plus.png" alt="">
                    <h3 class="hide">F.E.M simulation</h3>
                </a>
            </div>
        </div>
        <!-- /.row -->
        <hr>

    <!-- Work experience -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" id="Experience">
                <h1 class="page-header">Work experience</h1>
            </div>
        </div>

        <div class="row projects">
            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/telesense-main.png" alt="" id="telesense-logo">
                    <img class="img-responsive addPlusMid hide" src="../static/img/icon-plus.png" alt="">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/autoLab-main.jpg" alt="" id="ASE-logo">
                    <img class="img-responsive addPlusMid hide" src="../static/img/icon-plus.png" alt="">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/SMART-main.jpg" alt="" id="SMART-logo">
                    <img class="img-responsive addPlusMid hide" src="../static/img/icon-plus.png" alt="">
                </a>
            </div> 

            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/DSO-main.jpg" alt="" id="DSO-logo">
                    <img class="img-responsive addPlusMid hide" src="../static/img/icon-plus.png" alt="">
                </a>
            </div>
        </div>               
    </div>
    <!-- / row -->

    <!-- Achievements -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" id="Achievements">
                <h1 class="page-header">Achievements</h1>
            </div>
        </div>

        <div class="row projects">
            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/astar-main.jpg" alt="">
                    <img class="img-responsive addPlusMid hide" src="../static/img/icon-plus.png" alt="">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/SOFE-main.png" alt="">
                    <img class="img-responsive addPlusMid hide" src="../static/img/icon-plus.png" alt="">
                </a>
            </div> 
        </div>               
    </div>
    <!-- / row -->

    <!-- Education -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12" id="Education">
                <h1 class="page-header">Education</h1>
            </div>
        </div>

        <div class="row projects">
            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/NTU-main.jpg" alt="">
                    <img class="img-responsive addPlusMid hide" src="../static/img/icon-plus.png" alt="">
                </a>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="portfolio/error">
                    <img class="img-responsive main-img" src="../static/img/UCB-main.jpg" alt="">
                    <img class="img-responsive addPlusMid hide" src="../static/img/icon-plus.png" alt="">
                </a>
            </div> 
        </div>               
    </div>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../static/js-portfolio/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js-portfolio/bootstrap.min.js"></script>

</body>

</html>
